@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    
    --cor-primaria:#000000 ;
    --cor-secundaria: #ffff;
    --cor-terciaria: #22D4FD;
    --cor-hover: #3e8191;

    --font-primaria:'montserrat',sans-serif;
    --font-secundaria:'krona One', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    /* height: 80vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    padding: 5% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.cabecalho{
    padding: 2% 0% 0% 17%;
}
.cabecalho__menu{
    display: flex;
    gap: 60px;

}
.cabecalho__menu__link{
    font-family: var(--font-primaria);
    font-size: 1.31rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    font-family: var(--font-primaria);
    font-size: 1.28rem;
    font-weight:  bold;
    color: var(--cor-terciaria);
    
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.2rem;
    font-family:var(--font-secundaria);
    
    
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--font-primaria);
}
.apresentacao__conteudo__titulo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}
.apresentacao__conteudo__titulo__links__titulo{
    font-family:var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.btn-5 {
    width: 100%;
    height: 40px;
    line-height: 42px;
    border-radius: 8px;
    color: var(--cor-secundaria);
    font-weight: 600;
    padding: 25.5px 0;
    gap: 10px;
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow:inset 2px 2px 2px 0px var(--cor-secundaria),
    7px 7px 20px 0px rgb(0, 247, 255),
    4px 4px 5px 0px var(--cor-terciaria);
    outline: none;
    
}
.btn-5:hover {
    color: var(--cor-hover);
    background: transparent;
    box-shadow:inset 2px 2px 2px 0px var(--cor-secundaria),
    7px 7px 20px 0px var(--cor-hover),
    4px 4px 5px 0px var(--cor-hover);
}
.btn-5:before,
.btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background: var(--cor-hover);
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition:1200ms ease all;
}
.btn-5:after{
    right:inherit;
    top:inherit;
    left: 0px;
    bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
    width: 100%;
    transition:800ms ease all;
}

.apresentacao__conteudo__foto{
    margin-top: 20px;   
}
.apresentacao__imagem{
width: 70%;


}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-primaria);
    font-size: 1.5rem;
}
@media (max-width: 800px) {
    .apresentacao {
        flex-direction:column-reverse ;
        gap: 30px;
    }
   .cabecalho__menu{
        justify-content: center;
        

    }
    .cabecalho{
        padding: 12%;
        
    }
    .apresentacao__conteudo{
        width: 130%;
        
    }
    .apresentacao__imagem{
        width: 400px;
        padding: 0% 9% 0% 0%;
        
    }

}


